<h1>Simple Calculator</h1>

	<form action="/" method="POST">

		<label>Enter number here</label>
		<input type="text" name="user_input_1" placeholder="Enter here"><br>

		<label>Enter number here</label>
		<input type="text" name="user_input_2" placeholder="Enter here"><br><br>

	<button type="submit">Add</button>
	<button type="submit">Subtract</button>
	<button type="submit">Multiply</button>
	<button type="submit">Divide</button>
	
	</form>