<h1>Simple Calculator</h1>

	<form action="/calculator" method="POST">

		<label>Enter number here</label>
		<input type="text" name="user_input_1" placeholder="Enter here"><br>

		<label>Enter number here</label>
		<input type="text" name="user_input_2" placeholder="Enter here"><br><br>


	<button type="submit" name="operation" value="addition">Add</button>
	<button type="submit" name="operation" value="subtraction">Subtract</button>
	<button type="submit" name="operation" value="multiplication">Multiply</button>
	<button type="submit" name="operation" value="division">Divide</button>
	
	</form>